#cpt-nav {
  margin-bottom: 1em;
}

  #cpt-nav ul.tabs {
    border-bottom: 1px solid Silver;
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  #cpt-nav ul.tabs li {
    display: inline-block;
    margin: 0 4px 0 0;
    padding: 0;
  }

  #cpt-nav ul.tabs a {
    border-color: Silver;
    border-style: solid;
    border-width: 1px 1px 0 1px;
    color: DarkSlateGray;
    display: block;
    padding: .5em 1em;
    text-decoration: none;
  }

  #cpt-nav ul.tabs a.current {
    background-color: Silver;
  }

  #cpt-nav ul.tabs a:hover,
  #cpt-nav ul.tabs a:focus {
    background-color: LightGray;
  }

#cpt-knowledge-base-index {
  border-bottom: 1px solid Silver;
  margin: 0 0 4rem 0;
  padding: 4rem;
  position: relative;
}

#cpt-knowledge-base-index:before {
  background-color: LightGray;
  content: ' ';
  opacity: .5;
  position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  z-index: -1;
}

  #cpt-knowledge-base-index > *:first-child {
    margin-top: 0;
  }

  #cpt-knowledge-base-index > *:last-child {
    margin-bottom: 0;
  }

  #cpt-knowledge-base-index ul {
    list-style: none;
  }

  #cpt-knowledge-base-index > ul,
  #cpt-knowledge-base-index ul > li {
    margin-left: 0;
    padding-left: 0;
  }

  #cpt-knowledge-base-index > ul ul {
    margin-left: 1em;
    padding-left: 0;
  }

  #cpt-knowledge-base-index li.current a {
    font-weight: bold;
  }

#cpt-knowledge-base-breadcrumbs {
  font-size: 80%;
}

.cpt-modal {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'lbuffer modal rbuffer';
  grid-template-columns: minmax( 10px, 1fr ) minmax( 300px, 500px ) minmax( 10px, 1fr );
  margin: 0;
  max-height: 80%;
  overflow: scroll;
  padding: 0;
  position: fixed;
    top: 10%;
  width: 100%;
  z-index: 100;
}

  .cpt-modal-card {
    background-color: #fff;
    box-shadow:
      0 0 0 1px #ddd,
      1px 1px 3px rgba( 0, 0, 0, 0.2 )
    ;
    box-sizing: border-box;
    grid-area: modal;
    margin: 3px;
    padding: 30px;
    position: relative;
  }

    .cpt-modal-card > *:last-child,
    .cpt-modal-inner > *:last-child,
    .cpt-modal-inner form > *:last-child {
      margin-bottom: 0;
    }

  .cpt-modal h2 {
    border: none;
    margin-top: 0;
    padding-right: 50px;
    padding-top: 0;
  }

    .cpt-modal h2::before {
      content: none;
    }

  .cpt-modal a.button,
  .cpt-modal button,
  .cpt-inline-modal button {
    display: inline-block;
  }

  .cpt-modal .cpt-modal-dismiss-button,
  .cpt-modal .cpt-notice-dismiss-button,
  .cpt-inline-modal .cpt-notice-dismiss-button {
    align-items: center;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    height: 30px;
    justify-content: center;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
      top: 30px;
      right: 30px;
    text-decoration: none;
    width: 30px;
  }

  .cpt-modal .cpt-notice-dismiss-button,
  .cpt-inline-modal .cpt-notice-dismiss-button {
    height: 20px;
    position: absolute;
      top: 20px;
      right: 20px;
    width: 20px;
  }

  .cpt-modal .cpt-modal-dismiss-button:hover,
  .cpt-modal .cpt-notice-dismiss-button:hover,
  .cpt-inline-modal .cpt-notice-dismiss-button:hover {
    background-color: #ddd;
    box-shadow: 1px 1px 3px rgba( 0, 0, 0, 0.4 );
    text-decoration: none;
  }

  .cpt-modal .cpt-modal-dismiss-button:active,
  .cpt-modal .cpt-notice-dismiss-button:active,
  .cpt-inline-modal .cpt-notice-dismiss-button:active {
    background-color: #bbb;
    box-shadow: none;
    text-decoration: none;
  }

    .cpt-modal .cpt-modal-dismiss-button:active img,
    .cpt-modal .cpt-notice-dismiss-button:active img,
    .cpt-inline-modal .cpt-notice-dismiss-button:active img {
      opacity: .75;
    }

  .cpt-modal form {
    margin-bottom: 1em;
  }

    .cpt-modal form p,
    .cpt-modal form label,
    .cpt-modal form input,
    .cpt-modal form select,
    .cpt-modal form textarea,
    #cpt-new-message-form form p,
    #cpt-new-message-form form label,
    #cpt-new-message-form form input,
    #cpt-new-message-form form select,
    #cpt-new-message-form form textarea {
      display: block;
    }

    .cpt-modal form .large-text,
    #cpt-login form input[ type="password" ],
    #cpt-login form input[ type="text" ],
    #cpt-new-message-form form .large-text {
      box-sizing: border-box;
      width: 100%;
    }

    .cpt-modal form .description {
      font-size: 80%;
      margin-bottom: 1.25em;
    }

.cpt-modal-screen {
  background-color: rgb( 0, 0, 0, .4 );
  height: 100%;
  position: fixed;
    left: 0;
    top: 0;
  width: 100%;
  z-index: 99;
}

.cpt-error,
.cpt-success {
  background-color: #eee;
  border-left: 4px solid;
  padding: 20px;
}

.cpt-error {
  border-left-color: red;
}
.cpt-success {
  border-left-color: green;
}

.cpt-inline-modal {
  background-color: #fff;
  box-shadow:
    0 0 0 1px #ddd,
    1px 1px 3px rgba( 0, 0, 0, 0.2 )
  ;
  box-sizing: border-box;
  margin: 3px 3px 2em 3px;
  padding: 20px;
  position: relative;
}

.cpt-inline-modal *:last-child {
  margin-bottom: 0;
}
