@keyframes growDown {
  // Based off of: https://codinhood.com/micro/10-dropdown-menu-animations-css-transform
  0% { transform: scaleY(0); }
  80% { transform: scaleY(1.1); }
  100% { transform: scaleY(1); }
}

.cpt-this-expands {
  animation: growDown 150ms ease-in-out forwards;
  display: none;
  transform-origin: top;

  &.open {
    display: block;
  }
}

.cpt-new-message-button {
  .button {
    display: inline-block;
    margin-bottom: 1em;
  }
}

.cpt-message {
  background-color: White;
  box-shadow:
    0 0 0 1px #ddd,
    1px 1px 3px rgba(0, 0, 0, 0.2)
  ;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;

  &:target .cpt-message-content {
    background-color: LightYellow;
  }

  &.my-message {
    margin-left: 10%;

    .cpt-message-content {
      background-color: LightBlue;
    }
  }

  &.not-my-message {
    margin-right: 10%;

    .cpt-message-content {
      background-color: rgba(0, 0, 0, .025);
    }
  }

  &.status-update-request {
    margin-left: 0;
    margin-right: 0;

    .cpt-message-content {
      background-color: unset;
    }
  }

  .cpt-message-content {
    padding: 20px;

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .cpt-message-meta {
    border-top: 1px dashed LightGray;
    padding: 10px 20px;

    p {
      margin: 0;
      padding: 0;
    }
  }
}
