@keyframes growDown {
  // Based off of: https://codinhood.com/micro/10-dropdown-menu-animations-css-transform
  0% { transform: scaleY(0); }
  80% { transform: scaleY(1.1); }
  100% { transform: scaleY(1); }
}

.cpt-row {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  > *:not(button) {
    width: 12ch;

    &.span-2 {
      width: calc(24ch + 20px);
    }

    &.span-3 {
      width: calc(36ch + 40px);
    }

    &.span-4 {
      width: calc(48ch + 60px);
    }

    &.span-5 {
      width: calc(60ch + 80px);
    }

    &.span-6 {
      width: calc(72ch + 90px);
    }
  }

  &.gap-10 {
    gap: 10px;

    > * {
      width: 12ch;
  
      &.span-2 {
        width: calc(24ch + 10px);
      }
  
      &.span-3 {
        width: calc(36ch + 20px);
      }
  
      &.span-4 {
        width: calc(48ch + 30px);
      }
  
      &.span-5 {
        width: calc(60ch + 40px);
      }
  
      &.span-6 {
        width: calc(72ch + 50px);
      }
    }
  }
}

.cpt-this-expands {
  animation: growDown 150ms ease-in-out forwards;
  display: none;
  transform-origin: top;

  &.open {
    display: block;
  }
}

.cpt-message {
  background-color: White;
  box-shadow:
    0 0 0 1px #ddd,
    1px 1px 3px rgba(0, 0, 0, 0.2)
  ;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;

  &:target .cpt-message-content {
    background-color: LightYellow;
  }

  &.my-message {
    margin-left: 10%;

    .cpt-message-content {
      background-color: LightBlue;
    }
  }

  &.not-my-message {
    margin-right: 10%;

    .cpt-message-content {
      background-color: rgba(0, 0, 0, .025);
    }
  }

  &.status-update-request {
    margin-left: 0;
    margin-right: 0;

    .cpt-message-content {
      background-color: unset;
    }
  }

  .cpt-message-content {
    padding: 20px;

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .cpt-message-meta {
    padding: 10px 20px;

    p {
      margin: 0;
      padding: 0;
    }
  }
}

.cpt-projects-list {
  margin-top: 20px;
  margin-bottom: 20px;

  .cpt-project {
    background-color: White;
    box-shadow:
      0 0 0 1px #ddd,
      1px 1px 3px rgba(0, 0, 0, 0.2)
    ;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 20px;

    > :first-child {
      margin-top: 0;
    }

    > :last-child {
      margin-bottom: 0;
    }

    &.cpt-project-status-closed {
      background-color: rgba(255, 255, 255, 0.5);
    }

    .cpt-project-title {
      margin-bottom: 5px;

      a:not(:hover) {
        text-decoration: none;
      }
    }

    .cpt-project-meta {
      font-size: 70%;
      list-style: none;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
    }
  }
}