#cpt-login {
  #cpt-login-messages {
    display: none;
    line-height: 1.2;
    margin: 1em 0;
    padding-left: 1.25em;
    position: relative;

    &.error {
      color: $error;
    }

    &.success {
      color: $success;
    }

    &.error::before,
    &.success::before {
      border-radius: 9999px;
      color: White;
      display: inline-grid;
      font-weight: bold;
      height: 1em;
      place-content: center;
      position: absolute;
        left: 0;
        top: 50%;
      transform: translateY(-50%);
      width: 1em;
    }

    &.error::before {
      background-color: $error;
      content: '!';
    }

    &.success::before {
      background-color: $success;
      content: '\02713';
    }
  }

  #cpt-login-form {
    & > *:last-child {
      margin-bottom: 0;
    }

    .input {
      box-sizing: border-box;
      width: 100%;
    }

    .description {
      font-size: 80%;
      margin-bottom: $spacing-regular;
    }
  }

  #cpt-login-type-links {
    font-size: 80%;
  }

  #cpt-login-code-link,
  #cpt-login-code,
  #cpt-login-password {
    display: none;
  }
}
