#cpt-new-message-form form p,
#cpt-new-message-form form label,
#cpt-new-message-form form input,
#cpt-new-message-form form select,
#cpt-new-message-form form textarea {
  display: block;
}

#cpt-new-message-form form .large-text {
  box-sizing: border-box;
  width: 100%;
}
