.cpt-modal {
  display: none;
  height: 100vh;
  place-content: center;
  position: absolute;
    top: 0;
    left: 0;
  width: 100vw;
  z-index: 100;
}

.cpt-modal-card {
  background-color: White;
  border: $border;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  grid-area: modal;
  margin: 3px;
  min-width: 330px;
  max-height: 90vh;
  max-width: 40vw;
  overflow: auto;
  padding: $spacing-md;
  position: relative;
  z-index: 100;

  @media (max-width: $breakpoint-md) {
    max-width: 90vw;
  }

  h2 {
    border: none;
    margin-top: 0;
    padding-right: 50px;
    padding-top: 0;

    &::before {
      content: none;
    }
  }

  a.button,
  button {
    display: inline-block;
  }

  & > *:last-child,
  .cpt-modal-inner > *:last-child,
  .cpt-modal-inner form > *:last-child {
    margin-bottom: 0;
  }
}

.cpt-dismiss-button {
  background-color: LightGray;
  background-image: url("../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: $border;
  border-radius: 9999px;
  height: 1em;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
    right: $spacing-sm;
    top: $spacing-sm;
  transform: unset;
  width: 1em;

  &:hover:not(:active) {
    box-shadow: $box-shadow;
    text-decoration: none;
  }
}

.cpt-modal-screen {
  background-color: rgb(0, 0, 0, .4);
  display: none;
  height: 100vh;
  inset: 0;
  position: fixed;
    top: 0;
    left: 0;
  width: 100vw;
  z-index: 99;
}
