.cpt-modal {
  display: none;
  height: 100vh;
  place-content: center;
  position: absolute;
    top: 0;
    left: 0;
  width: 100vw;
  z-index: 100;
}

.cpt-modal-card {
  background-color: White;
  border: $border-style;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  grid-area: modal;
  margin: 3px;
  min-width: 330px;
  max-height: 90vh;
  max-width: 40vw;
  overflow: auto;
  padding: $spacing-md;
  position: relative;
  z-index: 100;

  @media (max-width: $breakpoint-md) {
    max-width: 90vw;
  }

  h2 {
    border: none;
    margin-top: 0;
    padding-right: 50px;
    padding-top: 0;

    &::before {
      content: none;
    }
  }

  a.button,
  button {
    display: inline-block;
  }

  & > *:last-child,
  .cpt-modal-inner > *:last-child,
  .cpt-modal-inner form > *:last-child {
    margin-bottom: 0;
  }
}

.cpt-dismiss-button {
  align-items: center;
  background-color: LightGray;
  border: $border-style;
  border-radius: 50%;
  cursor: pointer;
  display: grid;
  height: 30px;
  justify-content: center;
  line-height: 1;
  margin: 0;
  padding: 3px;
  place-items: center;
  position: absolute;
    top: $spacing-md;
    right: $spacing-md;
  text-decoration: none;
  width: 30px;

  &:hover,
  &:focus {
    background-color: Silver;
    border-color: $border-hover;
    box-shadow: $box-shadow;
    text-decoration: none;
  }

  &:active {
    background-color: Silver;
    border-color: $border-hover;
    box-shadow: none;
    text-decoration: none;
  }

  svg {
    fill: White;
    height: 100%;
    width: auto;
  }
}

.cpt-notice-dismiss-button {
  top: $spacing-regular;
  right: $spacing-regular;
}

.cpt-modal-screen {
  background-color: $gray-wash;
  display: none;
  height: 100vh;
  position: fixed;
    left: 0;
    top: 0;
  width: 100vw;
  z-index: 99;
}

.cpt-notice {
  background-color: #fff;
  border: $border-style;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  margin: 3px 3px $spacing-regular 3px;
  padding: $spacing-regular;
  position: relative;

  button:not(.cpt-dismiss-button) {
    display: inline-block;
  }

  *:nth-child(2) {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}
