.client-dashboard {
  .page-header {
    margin-bottom: $spacing-sm;
  }

  .entry-title:not(.cpt-entry-title) {
    font-size: inherit;
    font-weight: bold;
  }
}

#cpt-nav {
  margin-top: $spacing-sm;
  margin-bottom: $spacing-md;
  
  .cpt-tabs {
    background-color: $gray-wash;
    border-radius: 9999px;
    display: inline-flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    padding: .5em 1em;

    .cpt-tab {
      @media (max-width: $breakpoint-sm) {
        margin: 0;
        width: 100%;
      }
    }
  }
}

#cpt-breadcrumbs {
  font-size: 80%;
  margin-bottom: $spacing-md;
}