#cpt-nav {
  margin-bottom: 2em;

  .cpt-tabs {
    align-items: stretch;
    border-bottom: 1px solid Silver;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;

    .cpt-tab {
      border-color: Silver;
      border-style: solid;
      border-width: 1px 1px 0 1px;
      display: block;
      margin: 0 4px 0 0;
      padding: 0;

      @media (max-width: $breakpoint-sm) {
        margin: 0;
        width: 100%;
      }

      .cpt-nav-menu-item {
        color: DarkSlateGray;
        cursor: pointer;
        display: block;
        padding: .5em 1em;
        text-decoration: none;

        &.current {
          background-color: LightGray;
          font-weight: bold;
        }

        &.cpt-click-to-expand {
          padding-right: calc(2em + 4px);
          position: relative;

          svg {
            height: 1em;
            margin-left: 4px;
            opacity: .5;
            position: absolute;
              top: 50%;
              right: 1em;
            transform: translateY(-50%);
            transition: transform 150ms ease-in-out;
            width: 1em;
          }

          &.open {
            svg {
              transform: translateY(-50%) rotate(180deg);
            }
          }
        }

        &:hover,
        &:focus {
          background-color: Silver;
        }
      }
    }
  }
}

.cpt-nav-tabs-submenu {
  border-bottom: 1px solid Silver;
  margin: 0 0 2em 0;
  padding: 2em;
  position: relative;

  & > ul {
    margin: 0;
    padding: 0;

    ul {
      margin: 0 0 0 1em;
      padding: 0;
    }
  }

  ul {
    list-style: none;

    li {
      margin: .5em 0;
    }

    &.current a {
      font-weight: bold;
    }
  }

  &::before {
    background-color: Silver;
    content: ' ';
    opacity: .5;
    position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    z-index: -1;
  }
}

#cpt-breadcrumbs {
  font-size: 80%;
  margin-bottom: 2em;
}