.cpt-notice {
  background-color: #fff;
  border: $border;
  box-shadow: $box-shadow;
  box-sizing: border-box;
  margin: 3px 3px $spacing-regular 3px;
  padding: $spacing-regular;

  &.notice-success > :nth-child(2),
  &.notice-error > :nth-child(2) {
    padding-left: 1.25em;
    position: relative;
    
    &::before {
      border-radius: 9999px;
      color: White;
      display: inline-grid;
      font-weight: bold;
      height: 1em;
      margin: 0;
      padding: 0;
      place-content: center;
      position: absolute;
        top: 50%;
        left: 0;
      transform: translateY(-50%);
      width: 1em;
    }
  }

  &.notice-success {
    > :nth-child(2)::before {
      background-color: $success;
      content: '\02713';
    }
  }

  &.notice-error {
    > :nth-child(2)::before {
      background-color: $error;
      content: '!';
    }
  }

  button:not(.cpt-dismiss-button) {
    display: inline-block;
  }

  *:nth-child(2) {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.cpt-notice-dismiss {
  top: revert;
  right: revert;
}