// Colors
$light-text: SlateGray;

$success: SeaGreen;
$error: Red;

$yellow-highlighter: rgba(255, 255, 0, .5);
$blue-highlighter: rgba(0, 127, 255, .2);
$gray-wash: rgba(0, 0, 0, .1);
$black-wash: rgba(255, 255, 255, 0.5);

$border-style: 1px solid Silver;
$border-hover: #b0b0b0;


$box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);

// Spacing
$spacing-sm: 10px;
$spacing-regular: 20px;
$spacing-md: 30px;
$spacing-lg: 40px;

// Breakpoints
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
