@import 'variables';
@import 'fonts';
@import 'common';


/**
* Typography
*/

#cpt-admin,
.cpt-notice {
  font-family: Jost;
  font-variant-ligatures: common-ligatures;
}

#cpt-admin-header {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: 120px 1fr;
  margin-bottom: 15px;

  * {
    align-self: center;
  }

  h2 {
    font-size: 23px;
  }
}

  #cpt-admin-page-title {
    #cpt-page-title {
      font-size: 42px;
      font-weight: bold;
      line-height: 1.1;
      padding-top: 0;
    }

    #cpt-subtitle {
      color: gray;
      font-size: 26px;
      font-weight: bold;
      line-height: 1.1;
      margin: 0;
    }

    #cpt-client-status,
    #cpt-client-manager,
    #cpt-project-status,
    #cpt-project-client {
      font-size: 16px;
      line-height: 1.1;
      margin: 0;
    }
  }

/* Forms */
#cpt-admin {
  h2 {
    margin-top: 3em;
  }

  button,
  .button {
    font-weight: normal;
  }

  .form-table {
    th label small {
      font-weight: normal;
    }
  }
}

#cpt-delete-client-link {
  color: LightSlateGray;
  cursor: pointer;
  margin-bottom: 20px;

  &:hover {
    color: DarkSlateGray;
    text-decoration: underline;
  }
}

#cpt_delete_project_button {
  #submit {
    border: unset;
    color: LightSlateGray;
    cursor: pointer;
    display: inline;
    margin: 0 0 2em 0;
    padding: unset;

    &:hover {
      color: DarkSlateGray;
      text-decoration: underline;
    }
  }
}

.cpt-admin-modal {
  box-sizing: border-box;
  display: grid;
  grid-template-areas: 'lbuffer modal rbuffer';
  grid-template-columns: minmax(10px, 1fr) minmax(300px, 500px) minmax(10px, 1fr);
  margin: 0;
  max-height: 80%;
  overflow: scroll;
  padding: 0;
  position: fixed;
    left: 0;
    top: 10%;
  width: 100%;
  z-index: 100;
}

  .cpt-admin-modal-card {
    background-color: #fff;
    box-shadow:
      0 0 0 1px #ddd,
      1px 1px 3px rgba(0, 0, 0, 0.2)
    ;
    box-sizing: border-box;
    grid-area: modal;
    margin: 3px;
    padding: 30px;
    position: relative;
  }

    .cpt-admin-modal {
      h2 {
        border: none;
        margin-top: 0;
        padding: 0;
      }
    }

    #cpt_delete_client_button {
      display: inline-block;
    }

.cpt-admin-modal-screen {
  background-color: rgb(0, 0, 0, .4);
  height: 100%;
  position: fixed;
    left: 0;
    top: 0;
  width: 100%;
  z-index: 99;
}
