@charset "UTF-8";
.cpt-error,
.cpt-success {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid LightSlateGray;
  border-left: 4px solid;
  padding: 20px;
}

.cpt-error {
  border-left-color: Red;
}

.cpt-success {
  border-left-color: SeaGreen;
}

#cpt-status-update-request-button[disabled=true] {
  cursor: default;
  opacity: 0.5;
}
#cpt-status-update-request-button[disabled=true]:hover {
  box-shadow: none;
}

.client-dashboard .page-header {
  margin-bottom: 10px;
}
.client-dashboard .entry-title:not(.cpt-entry-title) {
  font-size: inherit;
  font-weight: bold;
}

#cpt-nav {
  margin-top: 10px;
  margin-bottom: 30px;
}
#cpt-nav .cpt-tabs {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 9999px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0.5em 1em;
}
@media (max-width: 576px) {
  #cpt-nav .cpt-tabs .cpt-tab {
    margin: 0;
    width: 100%;
  }
}

#cpt-breadcrumbs {
  font-size: 80%;
  margin-bottom: 30px;
}

.cpt-notice:where(:not(body.wp-admin)) {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  display: none;
  gap: 0;
  line-height: 1.15;
  margin: 20px 0;
  padding: 0;
  position: relative;
}
.cpt-notice:where(:not(body.wp-admin)).card {
  padding: 0;
}
.cpt-notice:where(:not(body.wp-admin)).visible {
  display: flex;
}
.cpt-notice:where(:not(body.wp-admin))::before {
  align-self: stretch;
  background-color: LightGray;
  color: White;
  content: "i";
  display: grid;
  font-weight: bold;
  min-width: 2em;
  place-content: center;
  width: 2em;
}
.cpt-notice:where(:not(body.wp-admin)).notice-error::before {
  background-color: Red;
  content: "!";
}
.cpt-notice:where(:not(body.wp-admin)).notice-success::before {
  background-color: SeaGreen;
  content: "✓";
}
.cpt-notice:where(:not(body.wp-admin)) .cpt-notice-message {
  display: block;
  font-size: 80%;
  padding-left: 20px;
}
.cpt-notice:where(:not(body.wp-admin)).is-dismissible {
  min-height: calc(42px + 1em);
}
.cpt-notice:where(:not(body.wp-admin)).is-dismissible .cpt-notice-message {
  padding-right: calc(42px + 1em);
}
.cpt-notice:where(:not(body.wp-admin)) .cpt-notice-dismiss {
  top: 20px;
  right: 20px;
}

body:has(#cpt-login.visible) {
  height: 100%;
  overflow: hidden;
}
body:not(.admin-bar) {
  --wp-admin--admin-bar--height: 0px;
}

#cpt-login {
  animation: pulse 150ms ease-in-out forwards;
  display: none;
  margin: 0 auto;
  max-height: calc(100vh - 20px - var(--wp-admin--admin-bar--height));
  max-width: calc(100vw - 20px);
  overflow: auto;
  position: fixed;
  top: calc(10px + var(--wp-admin--admin-bar--height));
  left: 50%;
  transform: translateX(-50%) !important;
  transform-origin: top center;
  width: 556px;
  z-index: 20;
}
#cpt-login.visible {
  display: block;
}
#cpt-login.visible + #cpt-modal-screen {
  display: block;
}
#cpt-login > h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
#cpt-login :not(.cpt-notice) :last-child,
#cpt-login :not(.cpt-notice) :last-child :last-child {
  margin-bottom: 0;
}

#cpt-modal-screen {
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100vh;
  inset: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 10;
}

.cpt-dismiss-button {
  background-color: LightGray;
  background-image: url("../images/close.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
  border: 1px solid LightSlateGray;
  border-radius: 9999px;
  height: 1em;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 5px;
  top: 5px;
  transform: unset;
  width: 1em;
}

#cpt-login-form .input {
  box-sizing: border-box;
  width: 100%;
}
#cpt-login-form .description {
  font-size: 80%;
  margin-bottom: 20px;
}

#cpt-login-type-links {
  font-size: 80%;
}

#cpt-login-code-link,
#cpt-login-code,
#cpt-login-password {
  display: none;
}

/*# sourceMappingURL=frontend.css.map */
